/* Universal selector setting up behavior of height/width properties and setting page margin/padding to over ride default margins */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* sett background color of body element */
body {
  background-color: #d9dcd6;
}

/* adds spacing around the text of the header, sets font, text color and background color */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* format heading with font size, color, and display.  Display is changed to inline so that links can be on same line */
h1 {
  display: inline-block;
  font-size: 48px;
  color: #d9dcd6;
}

/* formatting nav links: spacing, right aligned, font, font size, and remove default list style bullet points*/
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  list-style-type: none;
}

/*  formatting nav links to be side by side */
.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

/* set font color for links and remove default syling of links */
a {
  color: #ffffff;
  text-decoration: none;
}

/* set font size for all paragraphs */
p {
  font-size: 16px;
}

/* Set up large heading image with positioning and size specifications */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* formatting for images to be on the left side of the section */
.float-left {
  float: left;
  margin-right: 25px;
}

/* formatting for images to be on the right side of the section */
.float-right {
  float: right;
  margin-left: 25px;
}
/* formatting Main info boxes to take up 75% of the width of the page, making them inline-block, so that they can be on the same line as the "benefits" section */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* formatting "benefits" box basic formatting: size, color, location. Float right to make it be on the right side of the "content"*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
  margin-bottom: 32px;
  color: #ffffff;
}
/* format headings of "benefits" area */
h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* format all images in the "benefits" box use block display to have them stack on top of eachother Margins: top=10px, right and left are horizontally center within the container */
.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* combined formatting for all sections of the "benefits" section */
.box {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* sizing of images within content class */
.content img {
  max-height: 200px;
}

/* formats headings within content class */
.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* set footer location and font */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* set footer heading font size */
.footer h2 {
  font-size: 20px;
}
